:root {
  --main-bg-color: rgb(243, 243, 243);
  --main-color: rgb(59, 50, 50);
  --text-color: rgb(94, 93, 93);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "M PLUS 1p", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg-color);
}

header {
  width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  border-bottom: 1px solid rgb(196, 193, 193);
}

header .logo {
  width: 70px;
  border-radius: 6px;
}

header h1 {
  margin-left: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--main-color);
}

.root {
  width: 100%;
  text-align: center;
  min-height: calc(100vh - 70px);
  color: #000;
  align-items: center;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 2rem;
}

.display-length {
  grid-column: 5/7;
  grid-row: 2;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(177, 0, 0);
}

select {
  margin: 0 2rem;
  width: 320px;
  font-size: 1rem;
  border: 1px solid rgb(173, 172, 172);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
}
#select-shows {
  grid-column: 3/4;
}
#select-episode {
  grid-column: 4/5;
}

input {
  width: 0;
  border: none;
  outline: none;
}
.is-hidden {
  display: none;
}

input#search-input {
  margin-left: 2rem;
  grid-column: 5/6;
  width: 280px;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px 5px;
  transition: 0.3s width ease-in;
  font-size: 16px;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
}

input#search-input:hover {
  width: 350px;
}

#card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1550px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  width: 370px;
  height: 450px;
  background-color: #fff;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: 0 0.15em 0.175em hsla(0, 0%, 0%, 0.1);
  color: var(--text-color);
}

.card:hover {
  color: rgb(236, 235, 248);
  background-color: rgb(94, 93, 93);
}

.show-cards {
  margin: 1.3rem 0;
  width: 1350px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.show-card-image {
  width: 20%;
}

.show-card-image img {
  width: 100%;
  margin-top: 3.3rem;
  border-radius: 0 0 0 6px;
  max-height: 450px;
}

.general-info {
  width: 80%;
}

.general-info {
  display: flex;
  justify-content: space-around;
}

.general-info h2 {
  font-size: 2.2rem;
}

.extras {
  display: flex;
  flex-direction: column;
  height: 350px;
  border: 1px solid rgb(207, 205, 205);
  box-shadow: 0 0.15em 0.175em hsla(0, 1%, 25%, 0.1);
  border-radius: 6%;
  justify-content: space-around;
  margin-top: 3.5rem;
  margin-right: 1rem;
  padding: 1rem;
  color: rgb(172, 73, 7);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.extras span {
  margin-top: 1rem;
}

.extras:hover {
  color: #eee;
}

.hide {
  display: none;
}

.card-image {
  width: 100%;
}

.card-image img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.card-title {
  margin: 1.2rem 0;
  padding: 0 1rem;
  font-size: 1.6rem;
}

.card p {
  padding: 0 1.2rem;
  font-size: 1.2rem;
}

footer a,
footer p {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
}

footer {
  height: 50px;
}
