* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "M PLUS 1p", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(243, 243, 243);
}

header {
  width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  border-bottom: 1px solid rgb(216, 209, 209);
}

header .logo {
  width: 70px;
  border-radius: 6px;
}

header h1 {
  margin-left: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  color: rgb(59, 50, 50);
}

.root {
  width: 100%;
  text-align: center;
  min-height: calc(100vh - 70px);
  color: #000;
  align-items: center;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 2rem;
}

.display-length {
  grid-column: 5/7;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(206, 41, 41);
}

#select-episode {
  font-size: 1rem;
  grid-column: 3/4;
  margin: 0 2rem;
  width: 280px;
  border: 1px solid rgb(173, 172, 172);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
}

input {
  width: 0;
  border: none;
  outline: none;
}
.is-hidden {
  display: none;
}

input#search-input {
  grid-column: 4/5;
  width: 280px;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px 5px;
  transition: 0.3s width ease-in;
  font-size: 16px;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
}

input#search-input:hover {
  width: 350px;
}
#card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1550px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  width: 370px;
  height: 550px;
  background-color: #fff;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: 0 0.15em 0.175em hsla(0, 0%, 0%, 0.1);
  color: rgb(94, 93, 93);
}

.card:hover {
  color: rgb(236, 235, 248);
  background-color: rgb(94, 93, 93);
}

.card-image {
  width: 100%;
}

.card-image img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.card-title {
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 1.6rem;
}

.card p {
  padding: 0 1rem;
  font-size: 1rem;
}

footer a,
footer p {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
}

footer {
  height: 50px;
}
